.icon {
   height: 25px;
   width: 25px;
   transition: 1000ms;
}

.technology-info {
    text-align: start;
    font-size: 13px;
    font-weight: 400;
}

.nextSlide {
    transform: translateX(100%);
    opacity: 0;
}

.prevSlide {
    transform: translateX(-100%);
    opacity: 0;
}

.activeSlide {
    opacity: 1;
    transform: translateX(0);
}