.input-form {
    padding: 30px;
    background-color: rgb(232, 244, 250);
    border-radius: 10px;
    max-width: 400px;
    margin: 30px auto;
}

.input-form > form {
    display: grid;
    grid-gap: 5px;
    box-sizing: border-box;
}

.input-form > form > label {
    margin-top: 10px;
}

.input-form > form > input {
    padding: 7px;
    border-radius: 4px;
    border: none;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
}

.input-form > form > button {
    margin-top: 10px;
}

.form-output {
    max-width: 400px;
    margin: 30px auto;
}

.singlePerson {
    font-size: 10px;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0 , 0, 0.4);
    border-radius: 5px;
    margin: 10px;
}