.projects {
    min-height: 100vh;
    padding: 50px 0;
    background-color: rgb(230, 242, 245);
    transition: 1000ms;
}

.projects:hover {
    padding-top: 100px;
}

.projects > h1 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
}

.underlines {
    height: 3px;
    background-color: black;
    width: 15%;
    margin: 10px auto 0;
}

.projects-container {
    margin: 60px auto 0 auto;
    display: grid;
    grid-gap: 15px;
    padding: 0 3rem;
}

@media screen and (min-width: 720px) {

    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .underline {
        width: 7%;
    }

}

@media screen and (min-width: 1000px) {

    .projects-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .underline {
        width: 7%;
    }
    
}