.technologies {
    /* min-height: 70vh; */
    /* padding: 50px 0; */
    /* background-color: rgb(158, 193, 202); */
    /* background-color: rgb(145, 163, 145); */
    margin-top: 50px;
    background-color: transparent;
    text-align: center;
    transition: 1000ms;
    width: 100%;
    flex: 1;
}

/* .technologies:hover {
    padding-top: 100px;
} */

.technologies > h1 {
    color: white;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.underline {
    height: 3px;
    background-color: white;
    width: 30%;
    margin: 10px auto 0;
}

.techs-container {
    margin: 20px auto 0 auto;
    display: grid;
    grid-gap: 15px;
    padding: 10px;
}

.technologies:hover .indicator::after {
    width: 85%;
}

.technologies:hover .technology-card:nth-of-type(1) .tech-icon {
    color: rgb(255, 89, 0);
}

.technologies:hover .technology-card:nth-of-type(2) .tech-icon {
    color: rgb(48, 142, 213);
}

.technologies:hover .technology-card:nth-of-type(3) .tech-icon {
    color: rgb(225, 225, 3);
}

.technologies:hover .technology-card:nth-of-type(4) .tech-icon {
    color: rgb(99, 9, 76);
}

.technologies:hover .technology-card:nth-of-type(5) .tech-icon {
    color: rgb(48, 142, 213);
}

.technologies:hover .technology-card:nth-of-type(6) .tech-icon {
    color: rgb(48, 142, 213);
}

.technologies:hover .technology-card:nth-of-type(7) .tech-icon {
    color: rgb(163, 65, 13);
}

@media screen and (min-width: 550px) {

    .techs-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .underline {
        width: 20%;
    }

}

@media screen and (min-width: 750px) {

    .techs-container {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (min-width: 950px) {

    .techs-container {
        grid-template-columns: repeat(4, 1fr);
    }
    
}




