.technologies {
    min-height: 100vh;
    padding: 50px 0;
    background-color: rgb(158, 193, 202);
    background-color: rgb(145, 163, 145);
    text-align: center;
    transition: 1000ms;
}

.technologies:hover {
    padding-top: 100px;
}

.technologies > h1 {
    color: white;
    font-family: 'Abel', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
}

.underline {
    height: 3px;
    background-color: white;
    width: 30%;
    margin: 10px auto 0;
}

.techs-container {
    margin: 60px auto 0 auto;
    display: grid;
    grid-gap: 15px;
    padding: 0 3rem;
}

.technologies:hover .indicator::after {
    width: 85%;
}


@media screen and (min-width: 720px) {

    .techs-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .underline {
        width: 20%;
    }

}

@media screen and (min-width: 1000px) {

    .techs-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .underline {
        width: 20%;
    }
    
}
