* {
    margin: 0;
    /* font-family: 'Abel', sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
}


.app {
    scroll-snap-type: mandatory;
    overflow: auto;
    height: 100vh;
    background-color: black;
    background-image: url(./images/jack-b-ombUn7ergE4-unsplash.jpg);
}